.wrapper { /*CAIXA PRINCIPAL que receberá as caixas (BOX)*/
  margin:auto; /*centralizar*/
  display: flex; /*para transformar em blocos (FLEXIVEL)*/
  flex-direction:row; /*DIREÇÃO DAS CAIXAS temos tambem em coluna -> column */
  flex-wrap: wrap;  /*qdo utilizamos blocos eles ficam um do lado do outro mesmo q tenha tamanho total da tela, entao para resolver isso utilizamos o flex-wrap:wrap */
  justify-content:center;/*alinhando os blocos na horizontal dentro do principal*/
  align-items:center; /*alinhando os blocos na vertical */
  width: 100%; /*Largura do principal*/
  height: auto;
  background-color: #000000;
  padding: 0px; /*espaço entre as caixas e o principal*/
  box-shadow: 0px 5px 15px #000000; 
  /*deslocamento lateral/deslocamento vertical/espalhamento da sombra/ cor */
  
}

body{
  background-color: #201212;
}
.boxLogo{ /*CAIXA QUE ESTÁ A LOGO*/
    width: 5%;
    height: 50px;
    background-color: #352020;
    
}

.tamanhoLogo{ /*TAMANHO DA LOGO*/
  width: 100%;
  height: 90%;
}

.boxMenu{
    width: 95%;
    height: 50px;
   background-color: #201212;
   
}

.boxEspacoBranco{ /*para ter um espaço entre o menu e o banner rotativo*/
 
  height: 10px;
}

.boxBannerRotativo{

          width: 100%;
          height: 400px;
          background-image: url('../IMAGENS/sashimi.webp'); /* imagem inicial */
          background-size: cover; /*ajusta o tamanho da imagem de fundo para garantir que ela cubra completamente o elemento, mesmo que isso signifique cortar partes da imagem*/
          background-position: center;
          transition: background-image 0.5s ease-in-out;
                
         /*formatando o texto sobre o banner */
        font-size: 2.8em;
        color: rgb(255, 248, 248);  
        padding-top: 250px; 
        padding-right: 100px;          
        text-align: right;        /* Centralizar texto */
        font-family:Eras ITC, Verdana, Geneva, Tahoma, sans-serif;
        
          
          
        }

        .boxBannerRotativo:hover {
          background-image: url('../IMAGENS/yakimeshiCardapio.jpg'); /* imagem ao passar o mouse */
          
        

        }


.boxCard{
  width:25%;
  height: 600px;
  background-color: #252424;
  margin: 2%; /*Espaço entre as caixas*/
  padding: 1%; /*espaço entre o conteudo e as bordas*/
  border-radius: 10px; /*borda arredondada*/
  text-align: center;
  font-family:Eras ITC, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: azure;
}

.tamanhoImgCard{ /*classe para imagem dentro do card*/
  width: 100%;
  height: auto;
  border-radius: 5px;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
}

.boxBannerEstatico{
width: 100%;
height:400px;
background-color:chocolate;
margin-bottom: 50px;
}

.tamanhoImgEstatico{
  width: 100%;
  height:400px ;
}

.boxRedesSociais{
width: 100%;
height: 100px;
background-color: #201212;
text-align: center;
padding-top: 1%;

}

li{
  list-style: none;
}



.boxRodape{
  width: 100%;
  height: 50px;
 background-color: #352020;
  font-family: Century Gothic, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: aliceblue;
  padding-top: 2%;
}

/*NAVEGAÇÃO*/

nav{
	max-width: 100%;
	height:50px;
  background-color: #352020;
}

nav ul{
	list-style: none;
	margin:0px;
	padding:0px;
	text-align:center;
}

nav ul li{
	display: inline-block;	/*blocos na mesma linha*/
	margin-right:10px; /*distância entre os botoes*/
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  
}

nav ul li a{
	padding: 10px;
	text-decoration: none; /*retirar a linha abaixo dos links normais*/
	display: block;
	text-align: center;
  background-color: #352020; /*cor do botao sem clicar. Aqui está da mesma cor do nav por isso não está aparecendo*/
  color: rgb(255, 255, 255);
}

nav ul li a:hover {
	background-color:coral; /*cor quando passar o mouse*/
	transition: all .5s; 
	border-radius:5px; /*arredondado*/
  color: rgb(66, 11, 11);;
}


/* CSS DO CARDAPIO e QUEM SOMOS */


/* CRIEI DUAS CAIXAS (DIREITA E ESQUERDA) PARA COLOCAR EM UMA A FOTO DO RESTAURANTE E EM OUTRA VARIAS FOTOS  */

.boxLadoEsquerdo{
  width: 45%;
  height: auto;
  padding: 1%;
  text-align: center;
  border-radius:5px; /*arredondado*/
  border-style: groove; /*estilo da borda */
  border-color: rgb(40, 37, 34); /*cor da borda*/
}


.tamanhoImgCardapio{ /*tamanho da imagem que está dentro do box do lado esquerdo*/
  width: 100%;
  height:auto;
}



.boxLadoDireito{  /* propriedade do pai pq ele tem filhos agora */

  display: flex;
  flex-direction:row; 
  flex-wrap: wrap; 
  justify-content:center; /*alinhamento na horizontal*/
  align-items:center; /*alinhando os blocos na vertical */
  width: 50%;
  height: auto;

}

.boxCardQuem{ /*cards do quem somos*/

  display: flex;
  flex-direction:row; 
  flex-wrap: wrap; 
  justify-content:center; /*alinhamento na horizontal*/
  align-items:center; /*alinhando os blocos na vertical */
  width:25%;
  height: 200px;
  
  margin: 1%; /*Espaço entre as caixas*/
  padding: 2%; /*espaço entre o conteudo e as bordas*/
  border-radius: 10px; /*borda arredondada*/
  text-align: center;
  font-family:Eras ITC, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: azure;
  font-size: 1em;
  border-style: groove; /*estilo da borda */
  border-color: rgb(0, 0, 0); /*cor da borda */

}

.boxCardCardapio{

  display: flex;
  flex-direction:row; 
  flex-wrap: wrap; 
  justify-content:center; /*alinhamento na horizontal*/
  align-items:center; /*alinhando os blocos na vertical */
  width:20%;
  height: 300px;
  background-color: #252424;
  margin: 1%; /*Espaço entre as caixas*/
  padding: 1%; /*espaço entre o conteudo e as bordas*/
  border-radius: 10px; /*borda arredondada*/
  text-align: center;
  font-family:Eras ITC, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: azure;
  font-size: 1em;
  /* border-style: groove; /*estilo da borda 
 border-color: rgb(157, 125, 86); cor da borda*/
}


/* TAMANHO DAS FOTOS DO RESTAURANTE */

.tamanhoFotosRestaurante{
  width: 100%;
  height: 100%;

}


/* animação nos cards */

.zoom {
  transition: transform 0.3s ease; 
  /* Suaviza o efeito */
}

.zoom:hover {
  transform: scale(1.1); /* Aumenta 10% */
}


/* tamanho do ícone das redes sociais */

.tamanhoIcone{
  width: 3%;
  height: auto;
  padding: 1%;
}

/* retirando traço do link das imagens das redes */

a  {
  text-decoration: none;
}

